@import "tailwindcss";

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

html {
    overflow: hidden;
    height: 100vh;
}